:root {
  --color-two: ;
  --color-one: ;
  --color-three: ;
  --color-2two: ;
  --color-2one: ;
  --color-2three: ;
  --color-3two: ;
  --color-3one: ;
  --color-3three: ;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
