.projectCont {
    color: rgb(var(--color-one),var(--color-two),var(--color-three));
    font-family: 'Times New Roman', Times, serif;
    width: 100vw;
    height: 100vh;
}


.btn-primary {
    background-color: rgba(95, 95, 95, 0);
    border-width: 0em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(var(--color-one),var(--color-two),var(--color-three));
    border-radius: 0%;
    font-style: italic;
    font-size: 325%;
    text-align: right;
    font-size: 30px;
  }

 .btn-primary:hover{
    background-color: rgba(95, 95, 95, 0);
    color: rgba(95, 95, 95, 0.953);
  }


 
.image-container {
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 850px;
}

.heading {
    word-break:break-all;
    display: flexbox;
    width: 1px;
    font-size: 400% ;
    float:left;
    padding-top: 20px;
  
}


#delete {
    color: black;
    float: right;
    margin-right: 2.2%;
    margin-top: -10px;
}


.topPage {
 text-align: inherit;
 margin-top: 80px;
 min-height: 800px;
 margin-left: 4.5%;
}

.bottomPage {
    margin-top: 50px; 
   font-size: 14px;
   margin-left: 4.5%;
}

.descript {
    margin-top: 5px;
    float: left;
    display: flex;
}

.descript p {
    padding-right: 5px;
    color: black;
}

.colorDelete {
    float: right; 
    padding-right: 5%; 
    padding-left: 15%;
    margin-bottom: 100px;
    margin-top: -100px;
}


.collab-form input {
    border: 0.5px solid black;
    padding: 3px;
    background-color: white;
    border-radius: 5px;
}

.collab-form input:focus {
    background-color: white;
    outline: 0;
}

.collab-form #add-collab {
    width: 50px;
}

.collab-form #collab-input {
    width: 230px;
}